<h1>Welcome to Your Portfolio Index Page</h1>
<%= link_to  "Create a new portfolio", new_user_portfolio_path %>

<h5>Here are your portfolios: </h5>
<% @portfolios.each do |portfolio| %>
   <p><%= link_to portfolio.portfolio_name, user_portfolio_path(portfolio.user,portfolio) %></p> 
<% end %>