<h1>Welcome <%= @user.full_name %></h1>
<h5><%= link_to "Create a new portfolio", new_portfolio_path %></h5>
<h3>You currently have these portfolios:</h3>

<table>
<tr>
<th>Portfolio Name </th>
<th>Initial Cash </th>
</tr>
<tr>
<% @user.portfolios.each do |portfolio|%>
    <td><%= link_to portfolio.portfolio_name, portfolio%>
    <td> $<%= portfolio.initial_cash  %></td>
</tr>
<% end %>
</table>